
.Expected {
    padding-top: 50px;
    background: #151A26;
}

.Expected__title {
    color: #FFF;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-bottom: 70px;

    display: flex;
    justify-content: space-between;


    &-btns {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        display: flex;
        align-items: center;
        gap: 23px;
    }
}


.Expected-left-btn {
    transform: rotate(180deg);
    display: flex;
}

.Expected-right-btn {
    display: flex;
}

// Slider 

.slider-container-expected {
    position: relative;
    margin-top: 42px;
  }
  
  .slider-expected {
    gap: 28px;
    display: flex;
    width: 100%;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
  }
  
  
.Popular {
  padding-bottom: 70px;
}

.slide-popular-expected {
    padding-bottom: 105px;
}





// Cards

.Films-cards__img {
  width: 337.39px;
  background-image: url('./../../../public/img/Popular/toys.jpg');

  height: 462.914px;
  position: relative;
  width: 337.39px;
  height: 462.914px;
  border-radius: 12px;
  background-position: -.6px;
  background-repeat: no-repeat;

  

&::before {
    content: '';
    background: rgba(54, 87, 203, 0.65);
    width: 337.39px;
  height: 462.914px;
    border-radius: 12px;
    
    position: absolute;

    opacity: 0;
    transition: opacity 0.1s ease;

}

&:hover:before {
    opacity: 1;
    
}

&:hover {
    .card-btn__inner {
        opacity: 1;
    }
}
}

.expected-img {
    background-repeat: no-repeat;
    &-1 {
        background-image: url('./../../../public/img/Expected/pretoria.jpg');
        background-position: 3px 0px;
    }

    &-2 {
        background-position: 2px 0;
        background-image: url('./../../../public/img/Expected/adios.jpg');
    }

    &-3 {
        background-image: url('./../../../public/img/Expected/russia.jpg');
        background-position: center 1px;
        
        background-repeat: no-repeat;
        width: 333.08px;
        height: 464.497px;

        &::before {
            content: '';
            background: rgba(54, 87, 203, 0.65);
            width: 333.08px;
            height: 464.497px;
            border-radius: 12px;
            
            position: absolute;
        
            opacity: 0;
            transition: opacity 0.1s ease;
        
        }

    }

    &-4 {
        background-position: -1.8px 1px;
        width: 332.488px;
        height: 464.407px;
        background-image: url('./../../../public/img/Expected/comehere.jpg');

    }
}
