.nav__block-mobile {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.nav-mobile {
    padding-top: 35px;
    display: none;
    justify-content: center;
}


.mobile-nav-small {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.mobile-btns {
    display: flex;
    gap: 5px;
}


@media (max-width:1155px) {
    .logo__list {
        gap: 30px;
    }

    
}


@media (max-width: 1040px) {
    .nav__block-mobile {
        display: flex;
    }

    .nav-mobile {
        display: flex;
    }

    .nav__block {
        display: none;
    }
}

@media (max-width: 750px) {
    .FirstView {
        background-position: -800px center;
    }
}



@media (max-width: 710px) {
    .logo__list {
        gap: 20px;
    }
}


@media (max-width: 650px) {
    .nav__block-mobile {
        display: none;
    }

    .nav-mobile {
        display: none;
    }

    .mobile-nav-small {
        display: flex;
    }

    .logo-btns-mobile {
        padding: 6px 13px;
        min-width: auto;
        min-height: auto;
        
    }

    .container-small-mobile {
        padding: 0;
    }

    
}


@media (max-width: 550px) {
    .FirstView {
        background-position: -945px center;
    }
}

@media (max-width:380px) {
    .FirstView {
        background-position: -1025px center;
    }
}


//
 

.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}



.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
  background: #FFEFBA;
	transform: translateX(-100%);
	transition: transform 0.5s; 
}
.menu.active {
	transform: translateX(0);
}
.menu li {
	list-style-type: none;
}