.Trailers {
  padding-top: 54px;

  &-title {
    color: #fff;
    font-size: 65px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  &-more {
    display: flex;
    align-items: center;
    gap: 27px;
    padding-right: 25px;
  }

  &-text {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-more__text {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

// Video

.Trailers-video {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 12px;
  width: 1440px;
  height: 765px;
  background-image: url(./../../../public/img/Trailers/Trailer-video.jpg);
  transition: opacity 0.2s ease-in;

  &::before {
    content: "";
    position: absolute;
    border-radius: 12px;
    width: 1430px;
    height: 765px;
    top: 0;
    left: 0;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the alpha value to control the intensity of the vignette */
    transition: opacity 0.2s ease-in;
  }

  &:hover::before {
    opacity: 1;
  }
}

.Trailers-name-block {
  display: flex;
  justify-content: space-between;
}

.Trailers-video__play {
  position: absolute;
  top: 350px;
}

.Trailers-name__title {
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding-right: 34px;
}

.Trailers__social {
  padding-top: 10px;
}

.Trailers__share {
  padding-left: 17px;
  padding-top: 25px;
}

.Trailers-name-block__info {
  display: flex;
  align-items: center;
}

.Trailers-review__like {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;

  &-btn {
    width: 58.871px;
    height: 58.871px;
    flex-shrink: 0;

    border-radius: 10px;
    background: #1b2133;

    &:active {
      transform: translateY(2px);
    }
  }

  
}

.Trailers-review__dislike {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;

  &-btn {
    width: 58.871px;
    height: 58.871px;
    flex-shrink: 0;
    padding-top: 8px;
    border-radius: 10px;
    background: #1b2133;

    &:active {
      transform: translateY(2px);
    }
  }
}

.Trailers-name__reviews {
  padding-top: 20px;
  display: flex;
  gap: 9px;
}

.Trailers-review__like-score {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Trailers-review__dislike-score {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
