@media (max-width: 1800px) {
  .arrow-up {
    display: none;
  }
}

.cards__block-mobile {
  display: none;
}

.news-burger {
  display: none;
}

@media (max-width: 1470px) {
  .NewFilms {
    display: flex;
  }
  .Films-nav__line {
    display: none;
  }

  .Films-nav {
    flex-direction: column;
    align-items: self-start;
    gap: 10px;
  }

  .card-adaptive {
    width: 290.39px;
    height: 412.914px;
  }

  .Films-cards {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .cards__block-mobile {
    display: flex;
  }
}

@media (max-width: 1100px) {
  .Films-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards__block-mobile {
    display: none;
  }

  .Films-nav__list {
    gap: 25px;
  }
}

@media (max-width: 750px) {
  .Films-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .news-burger {
    display: block;
  }

  .Films-nav__list {
    display: none;
  }

  .Films-nav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .Films-nav__title {
    font-size: 40px;
  }

  .news-burger {
    display: flex;
  }
}

@media (max-width: 390px) {
  .film-card-adaptive {
    width: 299.39px;
    height: 395.914px;
  }

  .Films-cards__img {
    &-1 {
      &::before {
        content: "";
        background: rgba(54, 87, 203, 0.65);
        width: 299.39px;
        height: 395.914px;
        border-radius: 12px;

        position: absolute;

        opacity: 0;
        transition: opacity 0.1s ease;
      }
    }
  }
  
  .Films-nav {
    gap: 10px;
  }
}
